extends ../layout.pug

block content
	form(action='/login' method='post')
		input#username(name='email' type='email' placeholder='your@email.com')
		input#password(name='password' type='password' placeholder='Password')
		input(type='submit')

	a(href='/signup') Sign Up	

