extends ../layout.pug

block content
	h2 Sign In

	form(action='/login' method='post').user-form
		input#username(name='email' type='email' placeholder='your@email.com')
		input#password(name='password' type='password' placeholder='Password')
		input(type='submit' value='Sign In').button.full

	a(href='/signup') Sign Up	

