extends ../layout.pug

block header
	div.container
		div.desktop-12.column
			.logo-img-wrapper
				a(href='/')
					img.logo(src='images/logo_vocapin.png')

block content
	.desktop-12.column
		form(action='/signup' method='post').user-form
			input#username(name='email' type='email' placeholder='your@email.com')
			input#password(name='password' type='password' placeholder='Password')
			input(type='submit' value='Sign Up').button.full

		a(href='/login') Already have an account? Log in