extends ../layout.pug

block content
	h2 Sign Up
	
	form(action='/signup' method='post').user-form
		input#username(name='email' type='email' placeholder='your@email.com')
		input#password(name='password' type='password' placeholder='Password')
		input(type='submit' value='Sign Up').button.full

