doctype html
html
	head
		title #{title}
		block scripts

		link(rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css')
		link(rel='stylesheet' type='text/css' href='css/typegrid.css')
		link(rel='stylesheet' type='text/css' href='css/style.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i')
		
	body
		block header

		div.container
			block content