extends ../layout.pug

block header
	div.container
		div.desktop-12.column
			.logo-img-wrapper
				a(href='/')
					img.logo(src='images/logo_vocapin.png')

			h1= notebook.title
	
block content
	.desktop-12.column
		.list-vocabularies
			each vocabulary in notebook.list
				h4= vocabulary.word
				p= vocabulary.definition