extends ../layout.pug

block content
	.list-vocabularies
		each vocabulary in notebook.list
			.item
				.desktop-4.column
					h4= vocabulary.word

				.desktop-8.column
					p= vocabulary.definition

				.clear